{% extends "base.html" %}
{% block content %}

  <h2>Kahoot Clone, the 100% engagement platform</h2>
  <p>Find and create free gamified quizzes and interactive
    lessons to engage any learner. Our game-based leraning
    platform produces user-generated multiple-choice quizzes 
    that can be accessed via a web browser.
  </p>

  <div>
    <button onclick="window.location.href='{% url 'questionnaire-list' %}'">List All Your Questionnaires</button>
    <button onclick="window.location.href='{% url 'questionnaire-create' %}'">Add New Questionnaire</button>
  </div>

  <h3>Your last questionnaires</h3>
  {% if questionnaire_list %}
    {% for quest in questionnaire_list %}
      <p>
        <a href="{{quest.get_absolute_url }}">{{quest.title}}</a>
      </p>
    {% endfor %}
  
  {% else %}
    <p>You still don't have any Questionnaires.</p>
  {% endif %}
  
{% endblock %}